html{
  font-size:14px;
}

/*
html{
  margin:0px !important;
  padding:0px !important;
  
}
body{
  margin:0px !important;
  padding:0px !important;
  
}
#root{
  margin: 0 0 0 0;
  padding:0 0 0 0;
  margin: auto 0;
}
.App{
  margin: 0 0 0 0;
  padding:0 0 0 0;
  margin: auto 0;
  background-color:lightgoldenrodyellow;
}
*/